body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-text {
  font-size: 3em;
}

table {
  margin-top: 50px;
  margin-left: 80%;
  margin-right: 10%;
  position: relative;
}

th {
  padding-left: 15px;
  padding-right: 15px;
}

td {
  margin-right: 15px;
  height: 20px;
}

.tb-title {
  font-size: 1.25em;
}

.tb-data-row {
  height: 25px;
}

.player-icon {
  height: 20px;
  width: 20px;
}
